flask
flask-cors
kafka-python
python-dotenv
opencv-python
requests
argparse
torch
numpy
mediapipe
matplotlib
importlib-metadata
pandas
tflite_runtime
scikit-learn

# Optional dependencies based on platform
# On Raspberry Pi, install these packages:
# picamera2
# libcamera